.App {
  width: 100%;
}

.MainContent {
  /* SideBar + FileExplorer */
  display: grid;
  grid-template-columns: 17.5rem 1fr;
  width: 100%;
}

.SideBar {
  padding-top: 2rem;
  padding-left: 2.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  background: #E7EAF7;    /* blue */
}

.StatusBar {
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1.2rem 0.4rem 0.8rem;
  font-weight: 400;
  font-size: 0.75rem;
  background-image: linear-gradient(to bottom, #eaebec, #dfdfdf);
}

.FileExplorer {
  /* Tabs + Navigation Bar + FileList + StatusBar */
  display:  flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}

.NavigationBar {
  display: grid;
  background-color: #f8f6fb;
  grid-template-columns: repeat(3, 24px) 3fr 1fr;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.Path {
  background-color: #f7f7fb;
}

.ToolBar {
  background-color: #fbfbfd;
  display: flex;
  gap:  0.7rem;
  padding:  0.6rem 1.2rem;
  border: #eee solid 1px;
}

.AddressBar {
  background-color: #fff;
  padding:  5px;
}

.TabsBar {
  display: flex;
  padding-top: 10px;
  background-color: #eeeaf7;
}

.Tab {
  display:  flex;
  background-color: #ddd7e7;
  justify-content: space-between;
  align-items: center;
  padding:  5px 10px;
  border-radius: 2px 4px 0 0;
  margin-right: 2px;
  min-width: 8rem;
}

.Tab:hover {
  background-color: #e4ddee;
}

.ActiveTab {
  background-color: #f8f6fb;
  cursor: inherit;
}

.ActiveTab:hover {
  background-color: #f8f6fb;
}

.centre-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SidebarBlock {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.HomeHeader {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-left: 0.5rem;
  font-size: 15px;
  font-weight: 600;
  color:  #444;
  background-color: #f8feff;
  max-width: 13rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.SidebarHeader {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  padding-left: 0.6rem;
  font-size: 15px;
  font-weight: 600;
  color:  #444;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 2.5rem;
}

.SidebarElement {
  display: flex;
  align-items: center;
  padding: 0.4rem;
  padding-left: 0.9rem;
  font-size: 15px;
  font-weight: 400;
  color: #808188;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 2.5rem;
  margin-left: 0.3rem;
}

.SidebarElement:hover, .SidebarHeader:hover {
  background: #e4e2fb;
}

.OverlayCard {
  /* position: absolute; */
  background: white;

  width: 400px;
  left: calc(50vw - calc(400px/2));

  height: 450px;
  top: 120px;

  border-radius: 1rem;
  border: 1px #ddf solid;
  box-shadow: #444 2px 6px 15px 10px;
  padding: 2rem;
}

.Hidden {
  display: none;
}
