.FileElementListContainer {
  background-color: #fbfbfd;
  flex-grow: 1;
  overflow-y: scroll;
}

.FileElementList {
  padding: 0 2rem 0 2rem;
  margin: 0;
  max-width: 100%;
}

.IconViewList {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  justify-content: space-between;
}

.TreeViewList {
  
}

.SidebarTreeList {
  background: none;
  overflow-y: auto;
  overflow-x: auto;
  padding: 0;
}

.SidebarTreeElement {
  /* margin: 0; */
  padding: 0;
  grid-template-columns: 34px 1fr;
}

.bp3-context-menu2 {
  width: 100%;
}
