.FileElement, .FileElementHeader {
  display: grid;
  grid-template-columns: 30px 1fr repeat(2, 8rem) 4.7rem 4rem;
  padding: 0.6rem;
  cursor: pointer;
  width: 100%;
}

.FileElement {
  /*border: 1px solid #cccccc;*/
  border-radius: 6px;
  transition: 0.1s;
  color: #777;
  margin-top: 3px;
}

.FileElementHeader {
  padding-top: 1rem;
  padding-bottom: 0.75rem;
  border-radius: 2px;
  /* border-bottom: 1px solid #eee; */
  box-shadow: 0px 1px #eee;
  color: #777;
  position: sticky;
  top: 0px;
  background: #fbfbfd;
}

.FileElement:hover {
  background-color:  #aaccff77;
}

.Selected {
  background-color: #aaccff;
}

.Selected:hover {
  background-color:  #aaccffdd;
}
